@font-face {
  font-family: myFirstFont;
  src: url(simsfont.otf);
}


body {
  margin: 0px;
  background: rgba(var(--mclr), .2);
}

:root {
	--font1: myFirstFont;
	--font3: poppins;
	--font4: quicksand;
	--font5: IBM Plex Mono;

  --mclr: 1, 151, 236;
  --mclt: 159, 236, 254;
  --mcly: 93, 233, 4;
}

top {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0; 
  background: rgba(var(--mclr), 1);
  height: 130px;
}

top img { 
  height:50%;
  position: relative;
  left:88%;
  margin-top: 33px;
}

top x { 
  height:50%;
  position: relative;
  left:86%;
  margin-top: 53px;
  font-family: var(--font1);
  font-size:22px;
  text-transform: uppercase;
}


bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0; 
  background: linear-gradient(to left, rgba(var(--mclr), 1), rgba(var(--mclt), 1), rgba(var(--mcly), 1));
  height: 130px;
}



nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0; 
  background:  rgba(var(--mcly), 1);
  height: 60px;
  position: sticky;
  top:-1px;
  justify-content: center;
  align-items: center; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 9;
}

nav a {
  margin-left: 150px;
  margin-right: 150px;
  font-family: var(--font1);
  font-size:18px;
  text-transform: capitalize;
  color:#000;
  font-weight:600;
  text-decoration: none;
}

nav a:hover {
 border-bottom: 1px dashed;
}


.header {
  width: 76.8%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0; 
  margin: 11.6%;
  height:60vh;
  margin-bottom: 40px; 
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font1);
  font-size:11vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color:  #fff;
  line-height: 80%;
  text-transform: uppercase;
  letter-spacing: -4px;
}

.header img {position: absolute;
height:40%;
margin-left:-30%;
z-index: 1;
}


.boxes {
  width: 71%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 11.6%;
  padding:3%;
  margin-bottom: 170px;
  background: rgba(var(--mclr), .6);
  border-radius: 10px;
}


.boxes img {
  width:100%;
  margin-bottom: 50px;
}

.box { width: 40%;
  background: rgba(255, 255, 255, .8);
  padding: 3%; 
  margin: 2%; 
  margin-bottom: 30px; 
  overflow: auto;
  border-radius: 10px;
  text-align: justify;
  font-family: var(--font4);
  font-weight: 400;
  font-size: 18px;
}

.box img {
  width: 100%;
  object-fit: cover;
}

.box h1 {
  font-family: var(--font1);
  font-size:28px;
  text-transform: uppercase;
  margin-bottom: -5px;
  margin-top: -0px;
}

.box b {
  font-family: var(--font1);
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: -5px;
  margin-top: -10px;
}

.title { width: 100%;
  background: rgba(var(--mcly), 1);
  padding: 3%; margin: 2%; 
  margin-bottom: 20px;
  height: 100px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font1);
  font-size:3vw;
}


@media all and (max-width: 600px) {
  top img { 
    height:25%;
    position: relative;
    left:22.5%;
    margin-top: 30px;
  }
  
  top x { 
    height:50%;
    position: relative;
    left:35.5%;
    margin-top: 63px;
    font-family: var(--font1);
    font-size:22px;
    text-transform: uppercase;
  }

  
  .boxes {
    flex-flow: column wrap;
    padding-left:7px;
    margin-left:12%;
  }

  .box {
    width:90%;
    max-height: 1000px; overflow: auto; margin: 3%;
    margin-bottom:10px;
  }

  nav {width:100%;
    flex-flow: column wrap;
  }

  nav a { 
    padding:5px;
    padding-bottom:15px;
    padding-top:10px;
    text-transform: uppercase;
    text-decoration: none;margin-left: 20px;
    margin-right: 20px;
  }

  .title  {
    width:90%;
    margin-left:3.2%;
    margin-bottom:10px;
  }

  .header {
    width:80%;
    height:400px; 
    font-size: 50px;
  }

  
.header img {position: absolute;
  height:10%;
  margin-left:-1%;
  margin-top:29%;
  z-index: 0;
  }

  
}



@media all and (max-width: 1300px) { 
  .header img {
    position: absolute;
    height:10%;
    margin-left:-1%;
    margin-top:29%;
    z-index: 0;
    }

    nav {
      flex-flow: column wrap;
      height:200px;
    }
  
    nav a {margin-bottom: 10px;margin-top: 10px;}
}



button {width:100%;
height:90px;
margin-top:20px;
background: rgba(var(--mcly), 1);
border: 0px solid;
font-family: var(--font1);
text-transform: uppercase;
font-size:15px;
padding:20px;
}

button:hover  {
  background: rgba(var(--mclt), 1);
}

#TextString {
  font-family: var(--font1);
  text-transform: lowercase;
  text-align: center;
  margin-top:20px;
}